@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  :root {
    color-scheme: dark;
  }
  body {
    @apply bg-gray-950 text-gray-100 h-screen overflow-hidden;
  }
}

.xterm-viewport::-webkit-scrollbar {
  width: 6px;
}
.xterm-viewport::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 3px;
}
